.slider__item1 {
    max-width: 100%;
    height: 650px;
  }
  
  .slider__item-011 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
      url("../assets/all-images/Auto-img/Auto1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slider__item-021 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
      url("../assets/all-images/Auto-img/Auto2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slider__item-031 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
      url("../assets/all-images/cars-img/mercedes-offer.png" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero__slider1 {
    overflow: hidden;
  }
  
  .slider__content1 {
    padding-top: 150px;
  }
  
  .slider__content1 h1 {
    font-size: 3.2rem;
    font-weight: 600;
  }
  
  .reserve__btn1 {
    background: #fff !important;
    color: #000d6b !important;
    border: none;
    outline: none;
  }
  
  .reserve__btn1 a {
    text-decoration: none;
    font-weight: 600;
    color: #000d6b;
  }
  
  .reserve__btn1:hover {
    background: #000d6b;
    color: #fff;
  }
  
  @media only screen and (max-width: 992px) {
    .slider__item1 {
      height: 530px;
      max-width: 100vw;
    }
  
    .slider__content1 {
      margin-top: -50px;
    }
  
    .slider__content1 h1 {
      font-size: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .slider__item1 {
      height: 450px;
    }
  
    .slider__content1 h1 {
      font-size: 1.5rem;
    }
  }
  